@font-face {
    font-family: "Montserrat";
    src: local('Montserrat Regular'), 
        local('Montserrat-Regular'), 
        url('webfonts/Montserrat-Regular.woff2') format('woff2'),
        url('webfonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), 
        local('Montserrat-Medium'), 
        url('webfonts/Montserrat-Medium.woff2') format('woff2'),
        url('webfonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), 
        local('Montserrat-SemiBold'), 
        url('webfonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('webfonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), 
        local('Montserrat-Bold'), 
        url('webfonts/Montserrat-Bold.woff2') format('woff2'),
        url('webfonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), 
        local('Montserrat-Light'), 
        url('webfonts/Montserrat-Light.woff2') format('woff2'),
        url('webfonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat MediumItalic'), 
        local('Montserrat-MediumItalic'), 
        url('webfonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('webfonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBoldItalic'), 
        local('Montserrat-SemiBoldItalic'), 
        url('webfonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('webfonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
